footer {
    background: var(--color-primary);
    padding-top: 4rem;
    box-shadow: 0 -1rem 1.5rem
    hsla(var(--primary-hue), 68%, 42%, 20%);
    transition: var(--transition);
}

footer .nav_menu {
    justify-content: center;
    padding-bottom: 1rem;
}

.footer_copyright {
    color: white;
    text-align: center;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    padding: 1.5rem 0;
}